/* body rule will be inherited to all unless being overriden */

body {
  color: #444;
  font-family: sans-serif;
}

/* h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#Copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid blue;
}

/* sudo class selector example */
li:first-child {
  font-style: italic;
}

/* LVHA sudo class for <a> tags  */

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
  text-decoration: none;
}

/* a:hover {
  color: #1098ad;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  background-color: teal;
} */

/* nav {
  font-size: 18px;
} */
